<aside class="sidebar d-flex flex-column" id="mainMenu"[ngbCollapse]="isCollapsed">
  <section class="section-search">
    <div class="section-content">
      <form>
        <div class="input-group add-on">
          <input class="form-control" placeholder="Znajdź swoją miejscowość" name="srch-term" id="srch-term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="section-products">
    <div class="section-header">
      <h2>{{ 's4e-root.Products' | translate }}</h2>
    </div>
    <div class="section-content">
      <ul class="list-group list-group-flush">
        <li class="list-group-item clickable"
            *ngFor="let product of products | async"
            (click)="selectProduct(product)">
          <div class="row">
            <div class="col-2">
              <i class="far fa-eye"></i>
            </div>
            <div class="col-10">
              <span>{{product.name}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <s4e-login ngClass="align-self-end mt-auto"></s4e-login>
</aside>


<div class="timeline position-absolute card d-flex flex-row">
  <div class="p-2"
       *ngFor="let day of days | async"
       [ngClass]="{'border-left': !first}">
    <small class="ml-2">{{ day.label }}</small>
    <ul class="list-inline ml-2 mr-2 mb-0">
      <li class="list-inline-item font-weight-bold ml-2"
          *ngFor="let granule of day.granules"
          [ngClass]="{'mr-5': !last, 'mr-2': last}"
          (click)="updateViewedGranule(granule)">
        {{ granule.timestamp | date:'HH:mm' }}
      </li>
    </ul>
  </div>
</div>
<div class="map-container clearfix">
  <s4e-view-manager
    [activeGranuleView]="activeGranuleView"
    [overlays]="overlays"
    [granuleViews]="granuleViews"
    (activeGranuleViewChangeRequest)="setActiveGranuleView($event)"
    (granuleViewRemoveRequest)="removeGranuleView($event.granule.productId)"></s4e-view-manager>
</div>
<div id="map"></div>
